.no-print {
  display: none !important;
}

@page {
  size: A4 portrait;
  margin: 15mm 20mm;
}

.ui.text.container {
  max-width: 297mm !important;
}

.ui.accordion .active.title .dropdown.icon {
  display: none;
}

.ui.accordion .active.title {
  font-size: 1.5em;
  display: block;
  text-align: center;
  border: 0;
}

.company-Theodo .ui.accordion .active.title::before {
  content: "Questionnaire Theodo - ";
}

.ui.vertical.segment {
  position: static;
}
/* 
.title {
  display: none;
} */

.ui.checkbox label,
.ui.segment {
  font-size: 0.8rem;
}

h3.ui.header {
  font-size: 1rem;
}

* {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
